body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'sans-serif' !important;
    background: linear-gradient(45deg, #c4d3f6, #74f32154);
}

/* Top Navigation */

.topNavigation a.active {
    background-color: #FF7E01;
    border-radius: 5px;
    font-weight: 700;
}

.topNavigation a:hover {
    color: #FF7E01;
}

.topNavigation a.active:hover {
    color: #fff
}

.topNavigation a>div {
    height: 40px;
    min-width: 120px;
    text-align: center;
}

.topNavigation .logoSpan {
    width: 410px;
    margin: -10px 0 -2px -25px;
    content: url(../images/logo.png);
}

/* Main Container */

.mainContainer {
    padding: 30px 10px !important;
}

.headingCaption {
    border: 1px solid #36304a;
    height: 38px;
    padding-top: 6px;
    border-radius: 5px;
}

/* Filter */

.filterDrodownControl {
    width: 210px;
}

.filterContainer .MuiInputLabel-formControl {
    top: 8px !important;
    position: relative !important;
}

.filterDrodownControl .MuiInputLabel-outlined.MuiInputLabel-shrink {
    top: 16px !important;
}

.filterContainer .MuiOutlinedInput-input {
    padding: 10px 14px !important;
    background: #fff;
}

.filterContainer {
    width: 100% !important;
    margin: -8px 0 !important;
    padding: 0 32px 10px 30px !important;
    background: rgba(17, 110, 110, 0.726);
}

.filterContainer .MuiGrid-item {
    margin: -6px 6px;
}

/* Dashboard */

.tillStatusGrid {
    width: auto;
    height: 450px;
}

.gridWrapper {
    margin: 0 10px 0 -10px !important;
}

.chartWrapper {
    border-left: 1px solid #f5f5f5;
    padding-right: 0 !important;
    padding-left: 20px !important;
}

.ag-root .ag-header {
    height: 60px !important;
    background: rgb(138, 137, 137) !important;
    border: 1px solid #36304a !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ag-theme-alpine .ag-row {
    border: 0 !important;
}

.ag-theme-alpine .ag-root-wrapper {
    border: 0 !important;
    border-radius: 10px !important;
}

.ag-root.ag-header-cell-text {
    color: #fff !important;
}

.ag-root.ag-center-cols-container {
    width: 100% !important;
}

.gridAlternateRow {
    background: #e1e1e1 !important;
}

span.spriteOnlineStatusUp {
    height: 50px;
    width: 50px;
    background: url(../images/emoticons.png) -216px -75px;
    display: block;
    mix-blend-mode: multiply;
}

.buttonContainers {
    text-align: right;
    margin-bottom: 6px;
}

.buttonContainers button {
    text-transform: capitalize;
    line-height: 1.3;
}

/* Home Welcome Message */

.welcomeMessageSection {
    margin-top: 100px !important;
    text-align: center;
}

.tillButtons, .tillButtons:hover {
    background-color: #FF7E01 !important;
    color: #fff !important;
    font-weight: 500 !important;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-button {
    background: #eee;
    height: 1px;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

​::-webkit-scrollbar-thumb:horizontal:hover {
    background: #888;
}